*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


  
.container{
   
    padding-top: 50px;
    display: flex;
    flex-direction: column;
   
    align-items: center;
}
.body-background{
    background-image: url(/images/pattern-bg.png);
  
 
   
}

.ip1{
   
    color:white;
    
    
}
h1{
  font-size: 40px;
}

.input-container{
    width: 95%;
    height: 80px;
    max-width: 500px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    background-color: blue;
  }
  .input-container input{
    height: 100%;
    flex-grow: 8;
    border: none;
    border-radius: 10px 0 0 10px;
    font-size: 15px;
    padding-left: 10px;
  }
  .input-container button{
    height: 100%;
    flex-grow: 1;
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: hsl(0, 0%, 17%);
  }
  .alldetails{
    width: 95%;
    max-width: 1000px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    min-height: 150px;
    top: 10%;
    border: none;
    border-radius: 15px;
    z-index: 1000;
    margin-top: 2%;
  }
  
  .alldetails div{
    width: 25%;
    height: 50%;
    border-right: 1px hsl(0, 0%, 17%) solid;
    padding: 0 20px 0 20px;
  }
  
  #map{
    width: 100%;
  
    height: 100vh;
    flex: 1 1 70vh;
    position:relative;
    z-index: 1;
   
}
#map .loading-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
  }
#map::after{
    margin-top: -10%;
}

@media (max-width:768px)
{
  
  .alldetails{
    flex-direction: column;
   
    flex-direction: column;
    margin-left: -5%;
    width: 60%;
   
  }

  .alldetails div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 70px;
    border-right: none;
      text-align:center;
  }
  
}

@media ( (min-width:900px)and (max-width:1400px ))
{
  .alldetails{
    margin-left:-0.111%;
    background-color: black;
   
  }
 

  
  
}


